html, body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.fcsc {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.black-bkg {
    background: #000;
}

.logo {
    display: inline-block;
    width: 500px;
    max-width: 100%;
    height: 100px;
    background: url('../assets/logo.png') center center no-repeat;
    background-size: contain;
    margin-bottom: 12px;
    filter: sepia(100%);
}

.content {
    width: 100%;
    flex: 1;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/**
 * rain style , rain will sucation by blackhole
 */
#rain {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    opacity: 1;
    transition: opacity 10s linear 0s, width 2s linear 0s, height 2s linear 0s, margin-left 2s linear 0s, margin-top 2s linear 0s;
    z-index: 233;
    background: transparent;
    filter: sepia(100%);
}

.transparent {
    animation: 3s linear 0s infinite normal running rotates;
    width: 0px !important;
    height: 0px !important;
    margin-top: 0px !important;
    margin-left: 0px !important;
    opacity: 0 !important;
    z-index: 888 !important;
}

/**
 * rotate animation
 */
@keyframes rotates {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/**
 * chat
 */
 .chat-container {
     display: flex;
     position: relative;
     width: 750px;
     max-width: 80%;
     height: 100%;
     margin: 0 auto;
     flex-direction: column;
     align-items: center;
 }

 .welcome {
    position: absolute;
    text-align: center;
    color: #fff;
    font-size: 35px;
    width: 320px;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -150px;
    display: none;
    padding: 6px;
}

.welcome-message {
    position: absolute;
    text-align: left;
    margin-top: 0;
    margin-left: 0;
    top: 0;
    left: 0;
    font-size: 18px;
    transition: top 1s ease 0s, left 1s linear 0s, font-size 1s linear 0s, margin-top 1s linear 0s;
    padding: 6px;
}

.premessage-wrapper {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 42px;
}

.premessage-item {
    width: 100%;
    min-height: 42px;
    line-height: 42px;
    font-size: 18px;
    color: #fff;
    opacity: 0;
    transition: opacity 2s ease 0s;
    padding: 0 6px;
}

.full-opacity {
    opacity: 1 !important;
}

.planet-container {
    position: relative;
    margin-top: 20px;
    width: 100%;
    height: 50%;
}

.planet-container > canvas {
    width: 100%;
    height: 100%;
}

.planet-container > #thing1 {
    position: absolute; 
    padding: 6px 12px;
    font-size: 14px; 
    left: -100px; 
    top: 10px; 
    border: 1px solid #fff; 
    border-radius: 10px;
    color: #fff;
}

.planet-container > #thing2 {
    position: absolute; 
    padding: 6px 12px;
    font-size: 14px; 
    left: -300px; 
    top: 100px; 
    border: 1px solid #fff; 
    border-radius: 10px;
    color: #fff;
}

.effect-9{text-align: center; background: #000; font-size: 30px; border: none; outline: none; padding: 17px 50px 19px; transition: 0.4s; color: #fff; width:310px}
.effect-9 ~ .focus-border:before,
.effect-9 ~ .focus-border:after{content: ""; position: absolute; top: 0; right: 0; width: 0; height: 2px; background-color: #FFCC99; transition: 0.2s; transition-delay: 0.2s;}
.effect-9 ~ .focus-border:after{top: auto; bottom: 0; right: auto; left: 0; transition-delay: 0.6s;}
.effect-9 ~ .focus-border i:before,
.effect-9 ~ .focus-border i:after{content: ""; position: absolute; top: 0; left: 0; width: 2px; height: 0; background-color: #FFCC99; transition: 0.2s;}
.effect-9 ~ .focus-border i:after{left: auto; right: 0; top: auto; bottom: 0; transition-delay: 0.4s;}
.effect-9:focus ~ .focus-border:before,
.effect-9:focus ~ .focus-border:after{width: 100%; transition: 0.2s; transition-delay: 0.6s;}
.effect-9:focus ~ .focus-border:after{transition-delay: 0.2s;}
.effect-9:focus ~ .focus-border i:before,
.effect-9:focus ~ .focus-border i:after{height: 100%; transition: 0.2s;}
.effect-9:focus ~ .focus-border i:after{transition-delay: 0.4s;}