html, body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100%;
}

.fcsc {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.black-bkg {
    background: #000;
}

.logo {
    display: inline-block;
    width: 500px;
    max-width: 80%;
    height: 100px;
    background: url('../assets/logo.png') center center;
    background-size: cover;
    margin-bottom: 12px;
}

.content {
    width: 100%;
    flex: 1;
}